<div class="container" ng-init="init()">
    <div class="weather-data" ng-show="true">
        <div class="row">
            <h2 class="page-header">Most Convenient Weather today</h2>
            <div class="col-xs-12">
                <div class="">
                    <h3>
                        {{mostConvenient.name | placeholder:'?'}}
                        <small>Lon: {{mostConvenient.coord.lon | number:2}} Lat: {{mostConvenient.coord.lat | number:2}}</small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">

                <div weather-panel="forecast" show-entry="mostConvenient"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" ng-repeat="item in leadings" >
                <div weather-panel="forecast" show-entry="item"></div>
            </div>

        </div>
    </div>
</div>
